*, .header {
  margin: 0px;
  padding: 0px;
  border: 0px !important;
  overflow: hidden;
}

body {
  background-color: #1373aa !important;
}

ul.header li {
  display: inline;
}

ul.header{
  background-color: rgb(41, 41, 41);
  height: 46px;
}

ul.header li a {
  color: white;
  width: 25%;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  padding: 10px;
} 

ul.header li a:hover{
  background-color: rgb(55, 55, 55);
}

.navbar-icon{
  height: 20px;
  margin-bottom: -3px;
  margin-right: 10px;
}

.month-arrow-icon{
  height: 45px;
  margin-top: -5px;
}

.month-arrow-icon:hover{
  height: 50px;
  margin-top: -10px;
  cursor: pointer;
}

.active {
  background-color: #1373aa;
}

.dashboard-column-header{
  background-color: rgb(55, 55, 55) !important;
  color: #FFF;
  font-size: 1.3em;
}

.gray{
  background-color: rgb(85, 85, 85);
}

.white{
  background-color: white;
}

.day{
  height: 5.04em;
  width: 11.43em;
}

.week{
  margin-bottom: -16px;
  display: flex;
  justify-content: left;
}

.header-month{
  margin-bottom: -23px;
}

.name-day-week{
  background-color: rgb(50, 50, 50) !important;
  color: white !important;
}

.name-month{
  display: flex;
  justify-content: center;
  background-color: rgb(50, 50, 50) !important;
  color: white !important;
  font-size: 30px;
  margin-bottom: -25px;
}

.month-name-token{
  width: 20%;
  text-align: center;
}

.month-name-word{
  width: 60%;
  text-align: center;
}

.header-month-card{
  display: flex;
  justify-content: space-between;
}

.content-section{
  height: 530px;
  overflow-y: scroll;
  background-color: rgb(75, 75, 75);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.draggable-column{
  height: 100%;
}

.list-task{
  height: 592px;
  padding: 15px;
  background-color: rgb(75, 75, 75);
  overflow-y: scroll;
}

.home-task{
  height: 592px;
  padding: 15px;
  background-color: rgb(75, 75, 75);
}

.dashboard-column {
  height: 100%;
  width: 100%;
}

.card-task{
  border-radius: 5px !important;
  box-shadow: 4px 4px 4px rgb(50, 50, 50) !important;
}
