* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1373aa !important;
  overflow: hidden;
}

.header{
  margin: 0;
}

ul.header li {
  display: inline;
}

ul.header, header{
  background-color: rgb(43, 41, 41);
}

ul.header li a {
  color: white;
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 10px;
} 

ul.header li a:hover{
  background-color: rgb(56, 55, 55);
}

.navbar-icon{
  height: 20px;
  margin-bottom: -3px;
}

.content {
  background-color: #FFF;
 
}

.active {
  background-color: rgb(75, 74, 74);
}

.dashboard-column-header{
  background-color: rgb(50, 49, 49) !important;
  color: #FFF;
  height: 50px;
}

.dashboard-column {
  border: 1px solid gray !important;
  margin-left: 3px;
  margin-top: -0px;
}

.nav-page{
  background-color:#ffffff !important;
  
}

.day{
  height: 103px;
  /*border: 1px solid grey !important;*/
  background-color: white;
}

.week{
  margin-bottom: -16px;
}

.month{
  margin: 0%;
  margin-right: -72%;
}

.header-month{
  margin-bottom: -23px;
}

.header-month-card{
  background-color: rgb(50, 49, 49) !important;
  color: white !important;
  border: 1px solid gray !important;
  height: 70%;
}

.content-section{
  height: 528px !important;
  min-height: 528px !important;
  max-height: 528px !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}