* {
  margin: 0px;
  padding: 0px;
  border: 0px !important;
}

body {
  background-color: #1373aa !important;
  overflow: hidden;
}

.header{
  margin: 0;
}

ul.header li {
  display: inline;
}

ul.header, header{
  background-color: rgb(43, 41, 41);
}

ul.header li a {
  color: white;
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 10px;
} 

ul.header li a:hover{
  background-color: rgb(56, 55, 55);
}

.navbar-icon{
  height: 20px;
  margin-bottom: -3px;
}

.content {
  background-color: #FFF;
}

.active {
  background-color: rgb(75, 74, 74);
}

.dashboard-column-header{
  background-color: rgb(56, 55, 55) !important;
  color: #FFF;
  height: 60px;
  font-size: 20px;

}

.dashboard-column {
  border: 0px !important;
}

.day{
  height: 98px;
  border-bottom: 1px solid gray !important;
  border-right: 1px solid gray !important;
}

.gray{
  background-color: rgb(80, 80, 80);
}

.white{
  background-color: white;
}

.week{
  margin-bottom: -16px;
}

.month{
  margin: 0%;
  margin-right: -72%;
}

.header-month{
  margin-bottom: -23px;
}

.simple-task{
  width: 100%;
  height: auto;
}

.name-month{
  height: 80px !important;
  margin-bottom: -25px !important;
  font-size: 30px;
  text-align: center;
  padding-right: 40%;
  padding-top: -55%;
}

.header-month-card{
  background-color: rgb(50, 49, 49) !important;
  color: white !important;
  height: 70%;
  border: 0px !important;
}

.content-section{
  height: 535px !important;
  min-height: 535px !important;
  max-height: 535px !important;
  overflow-y: scroll;
  background-color: rgb(75, 74, 74);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(50, 49, 49);
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}